body {
    background-color: rgb(140, 0, 255);
    color: white;
}

.zodiac-sign {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.zodiac-image {
    display: flex;
    justify-content: center;
}

img {
    width: 25%;
    height: 25%;
    border-radius: 15px;
}

h3 {
    font-size: 22px;
    margin: 10px 0;
}

h3 span {
    text-transform: uppercase;
    margin-right: 15px;
}

h2 {
    font-size: 30px;
    margin-top: 55px;
    margin-bottom: 5px;
}

p {
    font-size: 22px;
    font-style: italic;
}

.home{
    color: white;
}